services:
  - type: web
    name: chat-application-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - path: /*
        destination: /index.html
